<ion-header>
  <ion-navbar color="primary">
    <button menuToggle>
        <ion-icon name="trackerDetail"></ion-icon>
    </button>
    <ion-title>Your progress</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tracker">
  <div class="chart-container" >
  <div class="row">
      <div class="col-sm-6">
        <canvas id="myChart" style="position: relative; height:40vh; width:100vw"></canvas>
        <base-chart class="chart"
                    [datasets]="ChartData"
                    [labels]="ChartLabels"
                    [options]="ChartOptions"
                    [colors]="ChartColours"
                    [legend]="ChartLegend"
                    [chartType]="ChartType"
                    ></base-chart>
      </div>

      <ion-list class="tracker-detail-list">
        <ion-item *ngFor="let p of progressData">
                <h2 item-left padding >#{{p.index}}</h2>
          <ion-icon *ngIf="p.Passed=='YES'" item-right color="secondary" name="checkmark-circle"></ion-icon>
          <ion-icon *ngIf="p.Passed=='NO'" item-right color="danger" name="close-circle"></ion-icon>
                <h2>Score: {{p.Scored}}%</h2>
                <p>Date & Time: {{p.StartDate}}</p>
        </ion-item>
      </ion-list>
  </div>
</div>
</ion-content>
