page-login {
    ion-header{
        background: #23a543 !important;
    }
    ion-navbar{
        background: #23a543 !important;
    }
    ion-title{
        color: #fff !important;
    }
    .btnLogin{
        background-color:#23a543; 
    }
}
