page-exam-mode {
    
}
div.scroll-content{
    font-weight: light;
    background-image: url('../assets/img/background.jpg') !important;
    background-size: cover;
}
.item-md > .icon{
    color:#23a543 !important;
}
.item-md > h2{
    color:#23a543 !important;
}
