page-result {

    .scroll-content{
        font-weight: light;
        background-image: url('../assets/img/background.jpg');
        background-size: cover;
      }
      
      #card1{
        border-radius: 12px !important;
        border-color: blue;
        border: 4px solid;
        border-color: map-get($colors,favorite) !important;
      }

      .cardinvalid{
        border-radius: 12px !important;
        border: 4px solid;
        border-color: rgb(255, 99, 132) !important;
      }

      .cardvalid{
        border-radius: 12px !important;
        border: 4px solid;
        border-color: rgb(54, 235, 45) !important;
      }

      .cardnoanswer{
        border-radius: 12px !important;
        border: 4px solid;
        border-color: rgb(54, 162, 235)!important;
      }

      .storeCardHeader {
        //font-size: 15rem;
        color: map-get($colors, primary);
        background-color: map-get($colors,favorite);
        text-align: center;
        font-style: bold;
      }

      video  {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      
      ion-content {
        background-color: map-get($colors, secondary);
        color: map-get($colors, primary);
        font-weight: normal;
      }
    
      ion-note {
        color: map-get($colors, primary);
        font-weight: normal;
      }
    
    
      .item-inner {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, light);
      }
    
    
    .options ion-item.item-text-wrap.item.normal {
      min-height: auto;
      overflow: visible;
      background-color: map-get($colors,light);
      color: map-get($colors, primary);
      padding: 2px 15px;
      margin-top: 8px;
      margin-left: 2.5%;
      border-radius: 10px;
      width: 95%;
      margin-bottom: 8px;
      p {
        font-size: 0.9em;
      }
      .item-inner {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, light);
      }
      img {
        width: 20%;
      }
    }
    
    //options selected is correct
    .options ion-item.item-text-wrap.item.correct {
      min-height: auto;
      overflow: visible;
      background-color: map-get($colors,secondary);
      color: map-get($colors, primary);
      padding: 2px 15px;
      margin-top: 8px;
      margin-left: 2.5%;
      border-radius: 10px;
      width: 95%;
      margin-bottom: 8px;
      p {
        font-size: 0.9em;
      }
      .item-inner {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, light);
      }
      img {
        width: 20%;
      }
    }
    
    //options selected is selected
    .options ion-item.item-text-wrap.item.selected {
      min-height: auto;
      overflow: visible;
      background-color: map-get($colors,neutral);
      color: map-get($colors, primary);
      padding: 2px 15px;
      margin-top: 8px;
      margin-left: 2.5%;
      border-radius: 10px;
      width: 95%;
      margin-bottom: 8px;
      p {
        font-size: 0.9em;
      }
      .item-inner {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, light);
      }
      img {
        width: 20%;
      }
    }
    
    //options selected is invalid
    .options ion-item.item-text-wrap.item.invalid {
      min-height: auto;
      overflow: visible;
      background-color: map-get($colors,danger);
      color: map-get($colors, primary);
      padding: 2px 15px;
      margin-top: 8px;
      margin-left: 2.5%;
      border-radius: 10px;
      width: 95%;
      margin-bottom: 8px;
      p {
        font-size: 0.9em;
      }
      .item-inner {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, light);
      }
      img {
        width: 20%;
      }
    }
    
    .options ion-item.item p {
      color: map-get($colors, dark);
    }
    
    ion-list .item .item-inner {
      border-bottom-width: 0px;
      border-bottom-style: solid;
      border-bottom-color: map-get($colors, light);
    }
    
    #validate {
        text-align: center;
        background-color: transparent;
        border: none;
        border-bottom-width: 0px;
        border-bottom-style: none;
        .item-inner {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, light);
      }
    }
    
    #valButton {
        text-align: center;
        font-size: 1.7em;
        width: 100%;
        border-radius: 10px;
        color: map-get($colors, light);
        background-color: map-get($colors,primary);
    }
    
    #myTimer{
       .item-inner {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, light);
      }
    }
    .timer {
        text-align: center;
        font-size: 2em;
        width: 100%;
        font-weight: bold;
        color: map-get($colors, secondary);
        background-color: map-get($colors, dark);
      }
    
    .timerout {
        text-align: center;
        font-size: 2em;
        width: 100%;
        font-weight: bold;
        color: #f44;
        background-color: map-get($colors, dark);
        
      }
    
    ion-card.adv-map p {
      font-size: 0.7em !important;
      
    }
    
    ion-card div.card-header  {
      background-color: map-get($colors,light);
      color: map-get($colors,primary);
      text-align: center;
      font-size: 1.1em !important;
      font-weight: bold;
    }
    
    ion-card div.card-footer  {
      background-color: map-get($colors,primary);
      color: map-get($colors,light);
      margin-bottom: 0;
    }
    ion-card div.card-footer button.disable-hover.button.button-default.button-full  {
      background-color: map-get($colors,primary);
      color: map-get($colors,light);
      font-size: 0.8em !important;
      padding: 10px;
      margin: 0;
    }

    #options .card-footer {
      background-color: map-get($colors,light);
      //color: map-get($colors,secondary) !important;
      font-size: 1.4em !important;
      padding: 10px;
      margin: 0;
    }
    
    ion-card {
      border-radius: 10px;
      border-color: map-get($colors, dark);
      margin: 2.5%;
      width: 95%;
    }
    
    ion-card img {
      background-color: map-get($colors,light);
      padding: 2%;
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }
    
    .item-bold {
      font-weight: bold;
    }
    
    .bottom_bar
    {
        position: fixed;
        bottom: 2vh;
        width: 100%;
    }

    #myChart2 {
      display: block;
      height: 100%;
      color: map-get($colors, light);
      padding: none;
      
      }

}
