<ion-header>
  <ion-navbar color="primary">
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary" *ngIf="stats">
      <ion-grid>
          <ion-row>
            <ion-col>
              Left: 
              <span class = "atext">
                  {{qty-indexQ}}
              </span>
            </ion-col>
            <ion-col>
              Correct: 
              <span class = "ctext">
                  {{qc}}
              </span>
            </ion-col>
            <ion-col>
              Wrong: 
              <span class = "itext">
                  {{qi}}
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content #cont class="exam" >
      <ion-item *ngIf="timed" id="myTimer" [ngClass]="{timer: isNormal, timerout: isOut}">
          <ion-icon subtle name="stopwatch"></ion-icon>
          {{time}}
      </ion-item>
      <ion-item id="validate" *ngIf="multiAnswer && _MABtnUp">
        <button id="valButton" full (click)="validateAnswer()"> Validate Answer</button>
      </ion-item>

  <div *ngIf="question" class="selection" style="position: relative">

      <ion-card class="adv-map">
        <div class="card-header">
          <ion-row >
            <ion-col width-35>
              <span small >Question: {{indexQ}}/{{qty}}</span>
            </ion-col>
            <ion-col width-25>
              <span>QId: #{{question.Id}}</span>
            </ion-col>
            <ion-col width-45>
              <span>Explanations left: {{expQty}}</span>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="question.Image !=null && question.Image !='null'">
          <p [innerHTML]="question.Image"></p>
        </div>

        <ion-card-content secondary>
            <h2 [innerHTML]="question.Question"></h2>
        </ion-card-content>

        <div class="card-footer">
          <button *ngIf="ExplaAvailable" full (click)="explanation(question.Id)"> Click here for Explanation/Tip
          </button>
        </div>

      <ion-list id="options" class="options">
          <ion-item text-wrap class="item-text-wrap" [ngClass]="{normal: question._f['A']==0, correct: question._f['A']==1, selected: question._f['A']==2, invalid: question._f['A']<0}" id="A" *ngIf="question.A !==''"(click)="clickedRow('A')">
              <h2>A</h2>
              <p [innerHTML]="question.A"></p>
              <ion-icon *ngIf="question._f['A']==1" name="checkmark" item-right color=dark></ion-icon>
              <ion-icon *ngIf="question._f['A']<0" name="close" item-right color=dark></ion-icon>
          </ion-item>
          <ion-item text-wrap class="item-text-wrap" [ngClass]="{normal: question._f['B']==0, correct: question._f['B']==1, selected: question._f['B']==2, invalid: question._f['B']<0}" id="B" *ngIf="question.B !==''"(click)="clickedRow('B')">
              <h2>B</h2>
              <p [innerHTML]="question.B"></p>
              <ion-icon *ngIf="question._f['B']==1" name="checkmark" item-right color=dark></ion-icon>
              <ion-icon *ngIf="question._f['B']<0" name="close" item-right color=dark></ion-icon>
          </ion-item>
          <ion-item text-wrap class="item-text-wrap" [ngClass]="{normal: question._f['C']==0, correct: question._f['C']==1, selected: question._f['C']==2, invalid: question._f['C']<0}" id="C" *ngIf="question.C !==''" (click)="clickedRow('C')">
              <h2>C</h2>
              <p [innerHTML]="question.C"></p>
              <ion-icon *ngIf="question._f['C']==1" name="checkmark" item-right color=dark></ion-icon>
              <ion-icon *ngIf="question._f['C']<0" name="close" item-right color=dark></ion-icon>
          </ion-item>
          <ion-item text-wrap class="item-text-wrap" [ngClass]="{normal: question._f['D']==0, correct: question._f['D']==1, selected: question._f['D']==2, invalid: question._f['D']<0}" id="D" *ngIf="question.D !==''" (click)="clickedRow('D')">
              <h2>D</h2>
              <p [innerHTML]="question.D"></p>
              <ion-icon *ngIf="question._f['D']==1" name="checkmark" item-right color=dark></ion-icon>
              <ion-icon *ngIf="question._f['D']<0" name="close" item-right color=dark></ion-icon>
          </ion-item>
          <ion-item text-wrap class="item-text-wrap" [ngClass]="{normal: question._f['E']==0, correct: question._f['E']==1, selected: question._f['E']==2, invalid: question._f['E']<0}" id="E" *ngIf="question.E !==''" (click)="clickedRow('E')">
              <h2>E</h2>
              <p [innerHTML]="question.E"></p>
              <ion-icon *ngIf="question._f['E']==1" name="checkmark" item-right color=dark></ion-icon>
              <ion-icon *ngIf="question._f['E']<0" name="close" item-right color=dark></ion-icon>
          </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
<ion-footer *ngIf="npb || multiAnswer">
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="npb && _previousBtn && indexQ > 1" start>
      <button ion-button icon-only (click)="previousQuestion()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!multiAnswer">Navigation</ion-title>
    <ion-title *ngIf="multiAnswer && !_MABtnUp" (click)="validateAnswer()">Next</ion-title>
    <ion-buttons *ngIf="npb && indexQ < qty" end>  
        <button ion-button icon-only (click)="nextQuestion()">
            <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>
    </ion-buttons>  
  </ion-toolbar>
  <!--ion-toolbar color="primary">
    <ion-buttons *ngIf="npb && _previousBtn && indexQ > 1" start>  
      <button ion-button icon-only (click)="previousQuestion()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons> 
    <ion-buttons *ngIf="multiAnswer && !_MABtnUp">
      <button full id="valButtonDown" (click)="validateAnswer()"> Validate Answer
      </button>
    </ion-buttons> 
    <ion-title *ngIf="!multiAnswer">Navigation</ion-title>
    <ion-buttons *ngIf="npb && indexQ < qty" end>  
      <button ion-button icon-only (click)="nextQuestion()">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-toolbar-->
</ion-footer>
