// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header{
  background: #23a543 !important;
}
ion-navbar{
  background: #23a543 !important;
}
.toolbar-background.toolbar-background-md{
  background: #23a543 !important;
}
.toolbar-title.toolbar-title-md{
  color: #fff !important;
}
.back-button-icon.icon.icon-md.back-button-icon-md.ion-md-arrow-back{
  color:#fff;
}
.button-inner > .icon.icon-md.ion-md-add{
  color:#fff;
}
.tabs-md.tab-button[aria-selected=true].tab-button-icon{
  color:#23a543;
}